.app {
    margin-left: 30%;
    width: 40%;
}

.todo-list {
    border: 1px solid #456094;
    border-radius: 0%;
}

.todo {
    background-color: #fff;
    position: relative;
    display: flex;
    line-height: 50px;
    width: 100%;
    height: 50px;
    border-top: 1px solid #e6e6e6;
    justify-content: space-between;
}

.todo-text {
    margin-left: 1em;
    width: 100%;
}

.completed-todo {
    color: #d9d9d9;
    text-decoration: line-through;
}

input {
    background-color: #fff;
    width: 100%;
    font-size: 24px;
    border: 0;
    line-height: 24px;
    outline: none;
    border: 1px solid #456094;
    height: 60px;
    box-sizing: border-box;
    padding: 15px 15px 15px 60px;
    margin: 10px 0;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    margin-left: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #456094;
    background-color: #456094;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.btn {
    background-color: white;
    border: none;
    color: #456094;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    color: #b3d7ff;
}